@import url('https://fonts.googleapis.com/css2?family=Montserrat+Alternates:wght@200&display=swap');

.bg-footer{
    background-color: #9b5de5;
    
}

.containerImg {
    display: flex;
    justify-content: center;
    color: white !important;
    font-size: 60px !important;
    
    
}
.containerFooter{
    
    border-radius: 30px;
}

.boxFooter{
    
    border-radius: 30px;
}
.rede{
    background-color: black;
    
}
